extends base.pug

block content
    video(src="/" + video.fileUrl, controls, autoplay)
    div 
        p=video.description
        small=video.createdAt
    div 
        small 업로드 By #{owner.name}

    if loggedInUser && (String(loggedInUser._id) === String(video.owner))
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;
